In [2]:
import pandas as pd

df = pd.read_csv("filtered_flight_weather.csv")
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,ori_AWND,ori_PRCP,station_id_y,DATE_y,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP
0,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,32.0,0.0,USW00003927,2020-02-23,78.0,156.0,0.0,0.0,55.0,8.0
1,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,35.0,122.0,USW00014740,2021-06-11,128.0,250.0,0.0,0.0,30.0,0.0
2,2020-07-31,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2107,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",...,40.0,0.0,USW00003927,2020-07-31,228.0,328.0,0.0,0.0,45.0,0.0
3,2019-11-20,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1065,BDL,"Hartford, CT",ATL,"Atlanta, GA",...,35.0,3.0,USW00013874,2019-11-20,61.0,178.0,0.0,0.0,36.0,0.0
4,2022-05-01,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",...,20.0,56.0,USW00014740,2022-05-01,33.0,211.0,0.0,0.0,26.0,0.0

In [3]:
df[df['ORIGIN_CITY']=='San Diego, CA']

Empty DataFrame
Columns: [FL_DATE, AIRLINE, AIRLINE_DOT, AIRLINE_CODE, DOT_CODE, FL_NUMBER, ORIGIN, ORIGIN_CITY, DEST, DEST_CITY, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, WHEELS_ON, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, DELAY_DUE_CARRIER, DELAY_DUE_WEATHER, DELAY_DUE_NAS, DELAY_DUE_SECURITY, DELAY_DUE_LATE_AIRCRAFT, origin_latitude, origin_longitude, dest_latitude, dest_longitude, origin_geometry, origin_station_id, ori_station_lat, ori_station_long, dest_station_id, station_id_x, DATE_x, ori_TMIN, ori_TMAX, ori_SNOW, ori_SNWD, ori_AWND, ori_PRCP, station_id_y, DATE_y, dest_TMIN, dest_TMAX, dest_SNOW, dest_SNWD, dest_AWND, dest_PRCP]
Index: []

[0 rows x 57 columns]

In [141]:
columns_keep = ["FL_DATE","AIRLINE","ORIGIN","ORIGIN_CITY","DEST","DEST_CITY","CRS_DEP_TIME","DEP_DELAY","CRS_ARR_TIME","ARR_DELAY","CANCELLED",
                "DIVERTED","DISTANCE","ori_TMIN","ori_TMAX","ori_SNOW","ori_SNWD","ori_AWND","ori_PRCP","dest_TMIN","dest_TMAX","dest_SNOW",
                "dest_SNWD","dest_AWND","dest_PRCP"]
sub_df = df[columns_keep]
sub_df.head()

,FL_DATE,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,...,ori_SNOW,ori_SNWD,ori_AWND,ori_PRCP,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP
0,2020-02-23,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",1840,-2.0,2041,-1.0,...,0.0,0.0,32.0,0.0,78.0,156.0,0.0,0.0,55.0,8.0
1,2021-06-11,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",1850,69.0,2112,60.0,...,0.0,0.0,35.0,122.0,128.0,250.0,0.0,0.0,30.0,0.0
2,2020-07-31,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",1207,-6.0,1358,-1.0,...,0.0,0.0,40.0,0.0,228.0,328.0,0.0,0.0,45.0,0.0
3,2019-11-20,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",600,-5.0,840,-32.0,...,0.0,0.0,35.0,3.0,61.0,178.0,0.0,0.0,36.0,0.0
4,2022-05-01,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",1735,3.0,1840,6.0,...,0.0,0.0,20.0,56.0,33.0,211.0,0.0,0.0,26.0,0.0

In [142]:
new_df = sub_df
new_df['CRS_DEP_TIME'] = sub_df['CRS_DEP_TIME'].astype(str)

new_df['CRS_DEP_TIME'] = sub_df['CRS_DEP_TIME'].str.replace(r'\.0$', '', regex=True)

new_df['CRS_DEP_TIME'] = new_df['CRS_DEP_TIME'].str.zfill(4)

new_df.head()

#df['CRS_DEP_TIME'] = df['CRS_DEP_TIME'].str.zfill(4)

/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/608350557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CRS_DEP_TIME'] = sub_df['CRS_DEP_TIME'].astype(str)
/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/608350557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CRS_DEP_TIME'] = sub_df['CRS_DEP_TIME'].str.replace(r'\.0$', '', regex=True)
/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/608350557.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CRS_DEP_TIME'] = new_df['CRS_DEP_TIME'].str.zfill(4)

,FL_DATE,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,...,ori_SNOW,ori_SNWD,ori_AWND,ori_PRCP,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP
0,2020-02-23,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",1840,-2.0,2041,-1.0,...,0.0,0.0,32.0,0.0,78.0,156.0,0.0,0.0,55.0,8.0
1,2021-06-11,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",1850,69.0,2112,60.0,...,0.0,0.0,35.0,122.0,128.0,250.0,0.0,0.0,30.0,0.0
2,2020-07-31,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",1207,-6.0,1358,-1.0,...,0.0,0.0,40.0,0.0,228.0,328.0,0.0,0.0,45.0,0.0
3,2019-11-20,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",0600,-5.0,840,-32.0,...,0.0,0.0,35.0,3.0,61.0,178.0,0.0,0.0,36.0,0.0
4,2022-05-01,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",1735,3.0,1840,6.0,...,0.0,0.0,20.0,56.0,33.0,211.0,0.0,0.0,26.0,0.0

In [143]:
new_df['CRS_DEP_TIME'] = pd.to_datetime(new_df['CRS_DEP_TIME'], format='%H%M')
new_df['FL_DATE'] = pd.to_datetime(new_df['FL_DATE'])

new_df.info()

/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/1578739643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CRS_DEP_TIME'] = pd.to_datetime(new_df['CRS_DEP_TIME'], format='%H%M')
/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/1578739643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['FL_DATE'] = pd.to_datetime(new_df['FL_DATE'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255864 entries, 0 to 1255863
Data columns (total 25 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   FL_DATE       1255864 non-null  datetime64[ns]
 1   AIRLINE       1255864 non-null  object
 2   ORIGIN        1255864 non-null  object
 3   ORIGIN_CITY   1255864 non-null  object
 4   DEST          1255864 non-null  object
 5   DEST_CITY     1255864 non-null  object
 6   CRS_DEP_TIME  1255864 non-null  datetime64[ns]
 7   DEP_DELAY     1223349 non-null  float64
 8   CRS_ARR_TIME  1255864 non-null  int64
 9   ARR_DELAY     1219802 non-null  float64
 10  CANCELLED     1255864 non-null  float64
 11  DIVERTED      1255864 non-null  float64
 12  DISTANCE      1255864 non-null  float64
 13  ori_TMIN      1255864 non-null  float64
 14  ori_TMAX      1255864 non-null  float64
 15  ori_SNOW      1255864 non-null  float64
 16  ori_SNWD      1255864 non-null  float64
 17  ori_AWND      1255864 non-null  float64
 18  ori_PRCP      1255864 non-null  float64
 19  dest_TMIN     1255864 non-null  float64
 20  dest_TMAX     1255864 non-null  float64
 21  dest_SNOW     1255864 non-null  float64
 22  dest_SNWD     1255864 non-null  float64
 23  dest_AWND     1255864 non-null  float64
 24  dest_PRCP     1255864 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(1), object(5)
memory usage: 239.5+ MB

In [144]:
DEP_time_timedelta = new_df['CRS_DEP_TIME'] - new_df['CRS_DEP_TIME'].dt.normalize()
new_df['DEP_datetime'] = new_df['FL_DATE'] + DEP_time_timedelta


new_df.head()

/var/folders/ts/yf8hmn6d379686s_b05ljhhh0000gn/T/ipykernel_74794/836522746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['DEP_datetime'] = new_df['FL_DATE'] + DEP_time_timedelta

,FL_DATE,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,...,ori_SNWD,ori_AWND,ori_PRCP,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP,DEP_datetime
0,2020-02-23,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",1900-01-01 18:40:00,-2.0,2041,-1.0,...,0.0,32.0,0.0,78.0,156.0,0.0,0.0,55.0,8.0,2020-02-23 18:40:00
1,2021-06-11,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",1900-01-01 18:50:00,69.0,2112,60.0,...,0.0,35.0,122.0,128.0,250.0,0.0,0.0,30.0,0.0,2021-06-11 18:50:00
2,2020-07-31,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",1900-01-01 12:07:00,-6.0,1358,-1.0,...,0.0,40.0,0.0,228.0,328.0,0.0,0.0,45.0,0.0,2020-07-31 12:07:00
3,2019-11-20,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",1900-01-01 06:00:00,-5.0,840,-32.0,...,0.0,35.0,3.0,61.0,178.0,0.0,0.0,36.0,0.0,2019-11-20 06:00:00
4,2022-05-01,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",1900-01-01 17:35:00,3.0,1840,6.0,...,0.0,20.0,56.0,33.0,211.0,0.0,0.0,26.0,0.0,2022-05-01 17:35:00

In [149]:
news_df = new_df.drop(columns=["FL_DATE","CRS_DEP_TIME"])
news_df.rename(columns={'DEP_datetime':'CRS_DEP_Datetime'},inplace=True)
news_df.head()

,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,...,ori_SNWD,ori_AWND,ori_PRCP,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP,CRS_DEP_Datetime
0,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",-2.0,2041,-1.0,0.0,0.0,...,0.0,32.0,0.0,78.0,156.0,0.0,0.0,55.0,8.0,2020-02-23 18:40:00
1,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",69.0,2112,60.0,0.0,0.0,...,0.0,35.0,122.0,128.0,250.0,0.0,0.0,30.0,0.0,2021-06-11 18:50:00
2,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",-6.0,1358,-1.0,0.0,0.0,...,0.0,40.0,0.0,228.0,328.0,0.0,0.0,45.0,0.0,2020-07-31 12:07:00
3,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",-5.0,840,-32.0,0.0,0.0,...,0.0,35.0,3.0,61.0,178.0,0.0,0.0,36.0,0.0,2019-11-20 06:00:00
4,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",3.0,1840,6.0,0.0,0.0,...,0.0,20.0,56.0,33.0,211.0,0.0,0.0,26.0,0.0,2022-05-01 17:35:00

In [150]:
## Add a delayed column
condition = (news_df['ARR_DELAY'] >= 15) | (news_df['DEP_DELAY'] >= 15)

# Create DELAYED column based on condition
news_df['15_DELAYED'] = condition.astype(int)

news_df.head()

,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,...,ori_AWND,ori_PRCP,dest_TMIN,dest_TMAX,dest_SNOW,dest_SNWD,dest_AWND,dest_PRCP,CRS_DEP_Datetime,15_DELAYED
0,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",-2.0,2041,-1.0,0.0,0.0,...,32.0,0.0,78.0,156.0,0.0,0.0,55.0,8.0,2020-02-23 18:40:00,0
1,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",69.0,2112,60.0,0.0,0.0,...,35.0,122.0,128.0,250.0,0.0,0.0,30.0,0.0,2021-06-11 18:50:00,1
2,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",-6.0,1358,-1.0,0.0,0.0,...,40.0,0.0,228.0,328.0,0.0,0.0,45.0,0.0,2020-07-31 12:07:00,0
3,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",-5.0,840,-32.0,0.0,0.0,...,35.0,3.0,61.0,178.0,0.0,0.0,36.0,0.0,2019-11-20 06:00:00,0
4,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",3.0,1840,6.0,0.0,0.0,...,20.0,56.0,33.0,211.0,0.0,0.0,26.0,0.0,2022-05-01 17:35:00,0

In [152]:
#make categorical vars for datetime

news_df['year'] = news_df['CRS_DEP_Datetime'].dt.year
news_df['month'] = news_df['CRS_DEP_Datetime'].dt.month
news_df['day'] = news_df['CRS_DEP_Datetime'].dt.day
news_df['day_of_week'] = news_df['CRS_DEP_Datetime'].dt.dayofweek  # Monday=0, Sunday=6
news_df['hour'] = news_df['CRS_DEP_Datetime'].dt.hour

news_df.head()

,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,...,dest_SNWD,dest_AWND,dest_PRCP,CRS_DEP_Datetime,15_DELAYED,year,month,day,day_of_week,hour
0,Spirit Air Lines,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",-2.0,2041,-1.0,0.0,0.0,...,0.0,55.0,8.0,2020-02-23 18:40:00,0,2020,2,23,6,18
1,Delta Air Lines Inc.,ATL,"Atlanta, GA",BDL,"Hartford, CT",69.0,2112,60.0,0.0,0.0,...,0.0,30.0,0.0,2021-06-11 18:50:00,1,2021,6,11,4,18
2,American Airlines Inc.,RDU,"Raleigh/Durham, NC",DFW,"Dallas/Fort Worth, TX",-6.0,1358,-1.0,0.0,0.0,...,0.0,45.0,0.0,2020-07-31 12:07:00,0,2020,7,31,4,12
3,Delta Air Lines Inc.,BDL,"Hartford, CT",ATL,"Atlanta, GA",-5.0,840,-32.0,0.0,0.0,...,0.0,36.0,0.0,2019-11-20 06:00:00,0,2019,11,20,2,6
4,Southwest Airlines Co.,BWI,"Baltimore, MD",BDL,"Hartford, CT",3.0,1840,6.0,0.0,0.0,...,0.0,26.0,0.0,2022-05-01 17:35:00,0,2022,5,1,6,17

In [154]:
news_df.to_csv("rileys_data.csv",index=False)